<!DOCTYPE html>
<html>
<head>
	<title>CMS</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
</head>
<body>
<div class="cover">
	<header>
		<section>
			<div class="left">
				<a href="/"><img class="logo" src="../images/logo.png"></a>
			</div>
			<div class="tagline">
				<h2>CMS</h2>
			</div>
			<div class="clear"></div>
		</section>
		<nav>
			<ul class="menu">
				<% 
				if(typeof menuPages !== 'undefined'){
					for(var menuPage of menuPages){
						%>
						<li>
							<a href="<%= menuPage.slug %>"><%= menuPage.name %></a>
						</li>
						<%
					}
				}
				%>
			</ul>
		</nav>
	</header>
