<!DOCTYPE html>
<html>
<head>
	<title><%= header.tagline %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
</head>
<body>
<div class="cover">
	<header>
		<section>
			<div class="left">
				<%
                    if (typeof header.logo !== 'undefined') {
                        %>
                        <img style="height: 150px; width: 150px; object-fit: contain;" src="<%= '/images/' + header.logo %>">
                        <%
                    }
                %>
			</div>
			<div class="right">
				<h2><%= header.tagline %></h2>
			</div>
			<div class="clear"></div>
		</section>
		<nav>
			<ul class="menu">
				<% 
				if(typeof menuPages !== 'undefined'){
					for(var menuPage of menuPages){
						%>
						<li>
							<a href="<%= menuPage.slug %>"><%= menuPage.name %></a>
						</li>
						<%
					}
				}
				%>
			</ul>
		</nav>
	</header>