<%- include('_layouts/userheader') -%>
	<main>
        <div class="adminLinks">
            <a href="/new">New Page</a>
            <a href="/editheader">Edit Header</a>
            <a href="/logout">Logout</a>
        </div>
		<table class="pageTable">
            <thead>
                <tr>
                    <th>Page</th>
                    <th colspan="2">Manage</th>
                </tr>
            </thead>
            <tbody>
                <%
                if(pages !== 'undefined')
                {
                    pages.forEach(function(page){
                        %>
                        <tr>
                            <td><a href="/pages/<%= page.slug %>"><%= page.name %></a></td>
                            <td><a href="/edit/<%= page._id %>">Edit</a></td>
                            <td><a href="/delete/<%= page._id %>">Delete</a></td>
                        </tr>
                        <%
                    }); 
                }
                %>
            </tbody>
        </table>
	</main>
<%- include('_layouts/footer') -%>