<%- include('_layouts/userheader') -%>
<main>
    <section>
        <h1>Page deleted successfully</h1>
    </section>    
    <a href="/admin">Back to home</a>
</main>
<%- include('_layouts/footer') -%>