<%- include('_layouts/userheader') -%>
	<main>
		<%- page.content %>
		<%
		if(typeof page.image !== 'undefined' || page.image != null)
		{
			%>
			<img style="height: 400px; width: 400px; object-fit: contain;" src="<%= '/images/' + page.image %>">
			<%
		}
		%>
	</main>
<%- include('_layouts/footer') -%>