<%- include('_layouts/userheader') -%>
<main>
    <section>
        <h1>Edit Header</h1>
        <% 
        if(typeof errorsData !== 'undefined'){
            for(var error of errorsData.errors){
                %>
                <h3><%= error.msg %></h3>
                <%
            }
        }
        %>
        <form method="POST" action="/editheader" class="form-edit" enctype="multipart/form-data">       
            <input type="hidden" id="userId" name="userId" value="<%= header.user %>">     
            <input type="hidden" id="oldLogo" name="oldLogo" value="<%= header.logo %>">     
            <div class="form-field">
                <label for="tagline">Tagline:</label>
                <input type="text" class="form-input" name="tagline" id="tagline" value="<%= header.tagline %>"> 
            </div>
            <div class="form-field">
                <label for="logo">Logo:</label>
                <input type="file" name="logo">
                <%
                    if (typeof header.logo !== 'undefined') {
                        %>
                        <img style="height: 200px; width: 200px; object-fit: contain;" src="<%= '/images/' + header.logo %>">
                        <%
                    }
                %>
            </div>
            <div class="form-field">
                <input type="submit" class="form-submit" value="Save Header">
            </div>
        </form>
    </section>
</main>
<script>
    ClassicEditor
        .create( document.querySelector( '#content' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<%- include('_layouts/footer') -%>