<%- include('_layouts/userheader') -%>
<main>
    <section>
        <h1>Edit Page</h1>
        <% 
        if(typeof errorsData !== 'undefined'){
            for(var error of errorsData.errors){
                %>
                <h3><%= error.msg %></h3>
                <%
            }
        }
        %>
        <form method="POST" action="/edit" class="form-edit" enctype="multipart/form-data">            
            <input type="hidden" id="pageId" name="pageId" value="<%= page._id %>">         
            <input type="hidden" id="oldImage" name="oldImage" 
            <%
            if (typeof page !== 'undefined')
            {
                %>
                value="<%= page.image %>""
                <%
            }
            %>>
            <div class="form-field">
                <label for="name">Name:</label>
                <input type="text" class="form-input" name="name" value="<%= page.name %>"> 
            </div>
            <div class="form-field">
                <label for="slug">Slug:</label>
                <input type="text" class="form-input" name="slug" value="<%= page.slug %>"> 
            </div>
            <div class="form-field">
                <label for="content">Content:</label>
                <textarea id="content" name="content"><%- page.content %></textarea>
            </div>
            <div class="form-field">
                <label for="image">Image:</label>
                <input type="file" name="image">
                <%
                    if (typeof page.image !== 'undefined') {
                        %>
                        <img style="height: 200px; width: 200px; object-fit: contain;" src="<%= '/images/' + page.image %>">
                        <%
                    }
                %>
            </div>
            <div class="form-field">
                <input type="submit" class="form-submit" value="Save Page">
            </div>
        </form>
    </section>
</main>
<script>
    ClassicEditor
        .create( document.querySelector( '#content' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<%- include('_layouts/footer') -%>