<%- include('_layouts/userheader') -%>
<main>
    <section>
        <h1>Login</h1>
        <form method="POST" action="/login" class="form-login">
            <div class="form-field">
                <label for="username">Username:</label>
                <input type="text" class="form-input" name="username"
                <%
                if(typeof user !== 'undefined'){
                    %>
                    value="<%= user %>"
                    <%
                }
                %>
                >
            </div>
            <div class="form-field">
                <label for="password">Password:</label>
                <input type="password" class="form-input" name="password">
            </div>
            <div class="form-field">
                <input type="submit" class="form-submit" value="Submit">
            </div>

            <% 
            if(typeof errorsData !== 'undefined'){
                for(var error of errorsData.errors){
                    %>
                    <h3><%= error.msg %></h3>
                    <%
                }
            }
            %>
        </form>  
    </section>
</main>
<%- include('_layouts/footer') -%>