<%- include('_layouts/userheader') -%>
<main>
    <section>
        <h1>New Page</h1>
        <% 
        if(typeof errorsData !== 'undefined'){
            for(var error of errorsData.errors){
                %>
                <h3><%= error.msg %></h3>
                <%
            }
        }
        %>
        <form method="POST" action="/new" class="form-edit" enctype="multipart/form-data">         

            <div class="form-field">
                <label for="name">Name:</label>
                <input type="text" class="form-input" name="name" 
                <%
                if(typeof prevData !== 'undefined'){
                    %>
                    value="<%= prevData.name %>"
                    <%
                }
                %>
                > 
            </div>
            <div class="form-field">
                <label for="slug">Slug:</label>
                <input type="text" class="form-input" name="slug" 
                <%
                if(typeof prevData !== 'undefined'){
                    %>
                    value="<%= prevData.slug %>"
                    <%
                }
                %>
                >  
            </div>
            <div class="form-field">
                <label for="content">Content:</label>
                <textarea id="content" name="content">
                <%
                if(typeof prevData !== 'undefined'){
                    %>
                    <%- prevData.content %>
                    <%
                }
                %>
                </textarea>
            </div>
            <div class="form-field">
                <label for="image">Image:</label>
                <input type="file" name="image">
            </div>
            <div class="form-field">
                <input type="submit" class="form-submit" value="Save Page">
            </div>
        </form>
    </section>
</main>
<script>
    ClassicEditor
        .create( document.querySelector( '#content' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<%- include('_layouts/footer') -%>