<%- include('_layouts/header') -%>
<main>
    <section>
        <h1>Contact Name: <%= viewContact.name %> </h1>
        <h2>Phone: <%= viewContact.phone %> </h2>
        <h2>Quantity of apples: <%= viewContact.qty %> </h2>
        <h2>Message: <%- viewContact.message %> </h2>
        <img src="/contact_images/<%= viewContact.myimage %>">
    </section>
</main>
<%- include('_layouts/footer') -%>