
body{
	max-width: 1024px;
	margin: 10px auto;
	box-shadow: 0 0 10px #3c3c3c;
	padding: 0px;
	font-family: 'Courier New', Courier, monospace;
	background-color: whitesmoke;
	background-size: cover;
	background-attachment: fixed;
	color: black;
}
.cover{
	background-color: rgba(0,0,0,0.4);
	padding: 20px;
}
.left{
	float: left;
}

.right{
	float: right;
}
.clear{
	clear: both;
}
.tagline {
	float: right;
	font-size: 2em;
}
.menu{
	list-style-type: none;
	text-align: center;
	padding: 0px;
}
.menu li{
	display: inline-block;
	width: 150px;
}
.menu li a{
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 26px;
}
.logo{
	width: 90px;
}
.width45{
	width: 48%;
	margin: 1%;
}
.width65{
	width: 68%;
	margin: 1%;
}

.width35{
	width: 28%;
	margin: 1%;
}
.left img{
	max-width: 100%;
}
footer{
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	border-top: 2px solid whitesmoke;
	padding-top: 10px;
	clear: both;
}


.leftBorder{
	border-radius: 100px 0 0 0;
}
.rightBorder{
	border-radius: 0 0 100px 0;
}

.ck.ck-content {
	color: black;
	height: 500px;
}

table.contact-list{
	border: 2px solid white;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.contact-list td, table.contact-list th{
	border: 2px solid white;
	padding: 5px 10px;
}
table.contact-list td a{
	font-weight: bold;
	text-decoration: none;
}

table {
	width: 60%;
}